.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.imageContainer {
    position: relative;

    img,
    canvas {
        max-width: 100%;
        // width: 600px;
        height: auto;
        display: block;
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.red {
    color: red;
}